<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <title>Home Page</title>
	    <link href="../static/homestyles.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    </head>

    <body>
        <div>
            <div class="header container-fluid">
                <form action="/"  method="POST">
                    <h2>Customer Information</h2>
                    <!--Tenure-->
                    <label for="tenure" id="tenure">Tenure</label>
                    <input type="number" class="form-control" name="tenure" style="display: inline; width: 100px;"> <br>
                    <!--MultiLines-->
                    <label id="mlines" for="mlines">Multiline</label>
                    <select class="form-control" name="mlines" style="display: inline; width: 200px;">
                        <option value="2">Yes</option>
                        <option value="1">No</option>
                        <option value="0">No Phone Service</option>
                    </select><br>
                    <!--Internet-->
                    <label id="internet" for="internet">Internet Service</label>
                    <select name="internet" class="form-control" style="display: inline; width: 150px;">
                        <option value="2">Fibre Optic</option>
                        <option value="1">DSL</option>
                        <option value="0">No</option>
                    </select><br>
                    <!--Online Security-->
                    <label id="onlines" for="internet">Online Security</label>
                    <select name="onlines" class="form-control" style="display: inline; width: 100px;">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select><br>
                    <!--Gender-->
                    <label id = "gender" for="gender">Gender</label>
                    <label for="male">Male</label>
                    <input type="radio" name ="gender" value="M">
                    <label for="female">Female</label>
                    <input type="radio" name ="gender" value="F"><br>
                    <!--Contract-->
                    <label id="contract" for="contract">Contract Type</label>
                    <select name="contract" class="form-control" style="display: inline; width: 100px;">
                        <option value="m">Monthly</option>
                        <option value="oy">Yearly</option>
                        <option value="ty">Two Years</option>
                    </select><br>
    
                    <!--Submit-->
                    <input type="submit" class="btn btn-primary" id="sbtn" value="Submit">
                    <!--Modal-->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                        Predictions
                    </button>
                    <a href="https://public.tableau.com/profile/nikhil.sanjay.thorat#!/vizhome/TelcoCustomerChurnDashboard_16155910468380/Dashboard1" class="btn btn-warning" target="_blank">Tabelau Dashboard</a>
                </form>
                <!-- Modal -->
                
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{pred}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </body>
</html>